	#draggable {
		cursor: move;
		width: 100px;
		height: 100px;
	}

	#droppable { 
		width: 150px;
		height: 150px; 
	}

	#changeMyColor {
		width: 150px;
		height: 150px;
		transition: all 2s;
	}

	#changeMySize {
		cursor: pointer;
		width: 150px;
		height: 150px;
		transition: width 2s, height 2s;
	}

	.purple {
		background-color: purple !important;
	}

	.nascondi {
		display: none;
	}

	.pswFound {
		display: none;
	}

	.modal-content{
		border: 3px solid #26a69a;
	}

	.modal .modal-content{
		padding-bottom: 0;
	}

	#modal1 button {
		margin-top: 10px;
	}

	.black {
		height: 100vh;
	}

	.container {
		padding: 10%;
		margin-top: 50px;
		border: 3px solid #26a69a;
	}

	nav {
		background-color: #26a69a;
	}

	nav .brand-logo{
		left: 38%;
	}

	nav a.button-collapse{
		margin-left: 5%;
	}

	#changeMyColor{
		margin-top: 1rem;
	}
	